<% include partials/head %>

<body class="u-Flex u-Flex--Column">

<div id="js-overlay" class="overlay u-Flex u-Flex--Center">
  <p class="u-centerBlock text-center">Click to start</p>
</div>

<div id="js-cursor" class="cursor circle circle-sm"></div>

<h1 id="js-title" class="u-marginTl"><strong>Simon</strong> Signs</h1>

<main role="main" id="js-container" class="u-Flex u-Flex-1 u-Flex--Center">
  <button id="js-start" class="btn u-centerBlock circle circle-lg">Play</button>
</main>

<p id="js-message" class="u-marginBl u-marginHm text-center">Hold your hand over the Play button to start</p>

<% include partials/scripts %>
