<% include partials/head %>

<div id="js-cursor" class="cursor circle circle-sm"></div>

<h1><strong>Simon</strong> Signs</h1>

<main role="main" id="js-container" class="flex-1">
  <button id="js-start" class="circle circle-lg btn">Play</button>
</main>

<% include partials/scripts %>
