<!-- build:css(.tmp) /styles/vendor.css -->
<!-- bower:css -->
<link rel="stylesheet" href="/bower_components/normalize.css/normalize.css" />
<!-- endbower -->
<!-- endbuild -->

<!-- build:css(.tmp) /styles/main.css -->
<link rel="stylesheet" href="/styles/main.css">
<!-- endbuild -->

<div id="js-cursor" class="cursor circle circle-sm"></div>

<h1>Simon</h1>

<main role="main" id="js-container" class="flex-1">
  <button id="js-start">Play</button>
</main>

<!-- build:js /scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/leapjs/leap-0.6.2.js"></script>
<!-- endbower -->
<script src="/bower_components/leapjs-plugins/main/screen-position/leap.screen-position.js"></script>
<!-- endbuild -->

<!-- build:js /scripts/main.js -->
<script src="/scripts/utils.js"></script>
<script src="/scripts/Pointer.js"></script>
<script src="/scripts/Simon.js"></script>
<script src="/scripts/Game.js"></script>
<script src="/scripts/main.js"></script>
<!-- endbuild -->
