.btn {
  background-color: $button-background-color;
  border: 15px solid;
  font-size: 2em;
  font-weight: bold;
  margin: 0 auto;
  text-transform: uppercase;

  &.active {
    background: white;
    border-color: $button-active-color;
    color: $button-active-color;
  }
}
