$primary-color: #f8a245;
$complement-color: #333340;

$background-color: $primary-color;
$text-color: $complement-color;

$button-background-color: $primary-color;
$button-active-color: #4c4773;

$cursor-color: $complement-color;
$cursor-opacity: .5;
