body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

main {
  display: flex;
  max-height: 82%;
  width: 100%;
}

button {
  background-color: #ddd;
  border: none;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  padding: 20px 40px;
}

img {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 50%;
}
